/* Media Queries */
/* for main landing page - Styles only in effect when screen is above 600px */
@media (min-width: 800px) {
  .navbar-brand img {
    width: auto;
    height: 80px;
  }
  .navbar-brand img:hover {
    transform: scale3d(1.2, 1.2, 1.2) rotate(-10deg);
  }
  #main .grid {
    display: grid;
    grid-template-columns: 3fr repeat(3, minmax(auto, 21em)) 1fr;
    justify-items: center;
    align-items: center;
  }
  #section-c .content-wrap {
    grid-column: 2 / 4;
  }
  #main #section-d {
    padding: 0;
    min-width: 960px;
    margin: 0 auto;
  }
  #main #section-d .box1 {
    width: 440px;
    height: 440px;
    text-align: center;
    position: relative;
    top: -20px;
    left: 15%;
    background: url('../assets/PNG/INDIVIDUAL/Group\ 45no_right_bubls.png') no-repeat;
    background-position: top left;
    background-size: contain;
    animation: bobbleRight 7s infinite;
  }
  @keyframes bobbleRight {
    0% {
      transform: translateX(10px);
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  #main #section-d .box1 .content-title {
    font-family: 'Baloo Da', cursive;
  }
  #main #section-d .box1 .title-one:hover,
  #main #section-d .box1 .title-two:hover,
  #main #section-d .box1 .title-three:hover {
    color: #5af3fd;
    text-shadow: 1px 1px 3px #5af3fd;
  }
  #main #section-d .box1 img#big-brand {
    padding-top: 20px;
    margin-bottom: 0px;
    width: 200px;
    height: auto;
  }
  #main #section-d .box2 {
    grid-column: span 2;
    margin-top: 2em;
    padding: 3em 0;
    background: url('../assets/PNG/INDIVIDUAL/47bubbles_around.png');
    background-position: right center;
    background-size: cover;
    position: relative;
    top: -20px;
    left: -10%;
    animation: bobbleRight 6s infinite;
  }
  #main #section-d .box2 img {
    display: inline-block;
    max-width: 75%;
    height: auto;
    padding: 4em;
    margin: 50px auto;
    position: relative;
    left: 14%;
  }
}
/* 
Media Query for BIG screen main landing page - Styles only in effect when 
screen is above 600px 
*/
@media (min-width: 800px) {
  #aboutBody {
    margin: 0 auto;
    /* Section C */
  }
  #aboutBody #section-about {
    text-align: center;
    background: transparent;
    color: #ffffffc7;
    padding: 2em;
  }
  #aboutBody #section-about .centered video {
    margin-top: 30px;
    width: 720px;
    height: auto;
  }
  #aboutBody #section-about .centered .mainPara {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  #theTeamBody {
    margin: 0 auto;
    /* Section C */
  }
  #theTeamBody #section-contact {
    text-align: center;
    color: #ffffffc7;
  }
  #theTeamBody #section-contact .centered .innerH1s {
    padding-top: 40px;
  }
  #theTeamBody #section-contact .centered .mainPara {
    max-width: 800px;
    margin: 0 auto;
  }
  #theTeamBody .awesomeness > li {
    padding: 0px 10px !important;
  }
  #theTeamBody .holder {
    margin-top: 40px;
  }
  #theTeamBody .holder .flex {
    display: flex;
    flex-flow: row wrap !important;
  }
}
.navbar {
  margin-top: 20px;
}
.navbar-dark .navbar-toggler,
.navbar-toggler:focus {
  color: transparent;
  border-color: transparent;
  outline: transparent;
}
.navbar-brand img {
  width: auto;
  height: 80px;
}
.navbar-brand:hover {
  transform: scale3d(1.3, 1.3, 1.3) rotate(-15deg);
}
.navbar a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffffc7 !important;
  display: block;
  margin: 0 1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar a:hover {
  text-transform: uppercase;
  text-decoration: none;
  color: #33ff00 !important;
  display: block;
  margin: 0 1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
li.nav-item.dropdown.text-center.show > div > a {
  padding: 0;
  margin: 0;
  color: #2e008f !important;
}
.dropdown-menu {
  background-color: #ffffffc7;
}
.signup-Nav {
  display: block;
  min-width: 160px;
  margin: 0 auto;
}
li:nth-child(4) > a {
  color: #5af3fd !important;
}
body {
  color: #ffffffc7;
  background: linear-gradient(to left bottom, #2e008f, #4410aa, #5a20c6, #702fe2, #873eff);
  background-attachment: fixed;
  font-family: 'ABeeZee', sans-serif;
  /* Main */
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
  padding: 1em 0 0 0;
  font-family: 'Baloo Da', cursive;
}
body p {
  margin: 0;
  padding: 1em 0;
}
body li {
  list-style: none;
}
body a.btn {
  display: block;
  max-width: 220px;
  margin: 10px auto;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffffc7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #00e6ff;
  border-radius: 50px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
body a.btn:hover {
  color: #ffffffc7;
  background: linear-gradient(270deg, #00e6ff 20%, #00a3ff 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  margin: 11px auto;
  text-shadow: none;
}
body #main {
  /* Section C */
  /* Section D */
}
body #main #section-c {
  background: transparent;
  color: #ffffffc7;
  padding: 2em;
}
body #main #section-d {
  padding: 0;
  color: #ffffffc7;
}
body #main #section-d .box1 {
  grid-column: span 2;
  text-align: center;
  background: url('../assets/PNG/INDIVIDUAL/Group\ 46bubles_for_small.png') no-repeat;
  background-position: top top;
  background-size: contain;
  padding: 50px;
  animation: bobbleRight 7s infinite;
}
@keyframes bobbleRight {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateX(10px);
  }
}
body #main #section-d .box1 .content-title {
  text-align: center;
}
body #main #section-d .box1 .title-one:hover,
body #main #section-d .box1 .title-two:hover,
body #main #section-d .box1 .title-three:hover {
  color: #5af3fd;
  text-shadow: 1px 1px 3px #5af3fd;
}
body #main #section-d .box1 img#big-brand {
  padding-top: 10px;
  padding-bottom: 20px;
  width: 180px;
  height: auto;
}
body #main #section-d .box2 img {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2em;
}
/* OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD */
#aboutBody {
  /* Section C */
}
#aboutBody #section-about {
  margin: 0 auto;
  text-align: center;
  background: transparent;
  color: #ffffffc7;
  padding: 0 2em ;
}
#aboutBody #section-about video {
  margin-top: 30px;
  width: 100%;
  height: auto;
}
#theTeamBody {
  height: 100%;
  /* Section C */
  /* used with / related to javascipt down below */
}
#theTeamBody #section-contact {
  margin: 0 auto;
  text-align: center;
  background: transparent;
  color: #ffffffc7;
  padding: 0 2em;
}
#theTeamBody #section-contact .centered .innerH1s {
  padding-top: 20px;
}
#theTeamBody #section-contact .centered .mainPara {
  padding-bottom: 50px;
}
#theTeamBody .awesomeness > li > a {
  color: yellow;
  text-decoration: none;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
}
#theTeamBody nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
#theTeamBody .awesomeness > li {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0px;
}
#theTeamBody .awesomeness > li figure .profilePicture {
  width: 130px;
}
#theTeamBody .awesomeness > li .figCaption {
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  color: linear-gradient(to left bottom, #2e008f, #4410aa, #5a20c6, #702fe2, #873eff);
}
#theTeamBody .dropdowner {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding: 20px;
  top: 100px;
  border-radius: 2px;
  transition: all 0.5s;
  transform: translateY(120px);
  will-change: opacity;
  display: none;
  z-index: 100;
}
#theTeamBody .trigger-enter .dropdowner {
  display: block;
}
#theTeamBody .trigger-enter-active .dropdowner {
  opacity: 1;
}
#theTeamBody .dropdownerBg {
  width: 100px;
  height: auto;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity: 0;
}
#theTeamBody .dropdownerBg.open {
  opacity: 1;
}
#theTeamBody .arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  transform: translateY(-50%) rotate(45deg);
}
#theTeamBody .bio {
  min-width: 200px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  color: #2e008f;
  text-align: center;
}
#theTeamBody .holder .flex {
  display: flex;
  flex-flow: column wrap;
}
#theTeamBody .holder .flex .li-all figure {
  margin-bottom: 260px;
}
