#aboutBody {
  margin: 0 auto;
  /* Section C */
  #section-about {
    margin-top: 0;
    text-align: center;
    background: transparent;
    color: @white_text;
    padding: 2em;

    video {
      margin-top: 30px;
      width: 100%;
      height: auto;
    }
  }
}
